<div class="grid-container" style="height: 90.5vh">
    @if (buttonList.Any())
    {
        @foreach (var button in buttonList)
        {
            <button class="grid-button @(button.IsSelected ? "selected-button" : "")"
                    style="
                grid-column: @(button.X + 1) / span @button.Width;
                grid-row: @(button.Y + 1) / span @button.Height;
                background-color: @button.BackgroundColour;
                color: @button.TextColour;
                font-size: @(button.TextSize)px;"
                    @onclick="() => OnDayClick(button)">
                @button.Day
            </button>
        }
    }
    else
    {
        <div>Failed to load the buttons. Please refresh the page.</div>
    }
</div>

