<div class="task-details" >
    <div class="upload-section">
        <label for="@UploadID" class="upload-label">
            Upload input as .txt file:
        </label>
        <label class="custom-file-upload" for="@UploadID">
            File Upload
        </label>
        <InputFile hidden id="@UploadID" accept=".txt" OnChange="@(async e => await FileUpload(e, @Day))" />

        @if(FileContent != null)
        {
            <button class="upload-button" @onclick="ShowAnswerTextBox">
                Get Result
            </button>
        }
    </div>
</div>
@if(FileName != null)
{
    <label>@FileName</label>
}

@if (Result != null)
{
    <textarea class="result-text-area" readonly >@Result</textarea>
}
